---
layout: default
---
<div class="content">
  <section class="main" id="news">
      <div class="subtitle">Posts</div>
      <ul>
        {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b-%d-%Y" -%}

          <li><span class="date">{{ post.date | date: date_format }}</span>: <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a></li>
          {%- endfor -%}
      </ul>
  </section>
  
  
  
</div>