---
layout: default
---

<div class="content">
  <section class="main" id="news">
    <div class="subtitle">Posts</div>
    <ul>
      {%- for post in site.posts -%} {%- assign date_format =
      site.minima.date_format | default: "%b-%d-%Y" -%}

      <li>
        <span class="date">{{ post.date | date: date_format }}</span>:
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </section>
  <section class="main" id="news">
    <div class="subtitle">Links</div>
    <ul>
      <li>
        <a class="post-link" href="https://facebook.com/arunkants">
          Facebook
        </a>
      </li>
      <li>
        <a class="post-link" href="https://twitter.com/arunkants"> Twitter </a>
      </li>
      <li>
        <a class="post-link" href="https://github.com/arunkant"> Github </a>
      </li>
      
      <li>
        <a href="{{ 'feed.xml' | relative_url }}"><span>RSS Feed</span></a>
      </li>
      <li>
        <a class="post-link" href="mailto:mail@arunkant.com"> E-mail </a>
      </li>
    </ul>
  </section>
</div>
