<html>
    <head>
        <title>{{ site.title }} </title>
    </head>
    <body>
        <header>
            <span>
                {{ site.title }}
            </span>
        </header>
        <h2> Posts </h2>
        <ul>
            {%- for post in site.posts -%}
                <li>
                    <span>
                        {{ post.date }}
                    </span> -
                    <span>
                        {{ post.title | escape }}
                    </span>
                </li>
            {%- endfor -%}
        </ul>
        <footer>
            <span>
                {{ site.author }} | {{ site.email }}
            </span>
        </footer>
    </body>
</html>